@{
    ViewData["Title"] = "Produtos";
}

<div ng-init="verifyAuth()">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Account">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Products">Products</a>
        </li>
    </ul>
    <br />

    <div ng-controller="productController"
         ng-init="listProducts()">
        <div class="row container">
            <div class="col-sm-6">
                <b>
                    Products Manager

                </b>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-1">
                <button type="button"
                        title="new product"
                        class="btn btn-sm btn-outline-primary"
                        ng-click="newProductPage()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

        </div>
        <div>
            <div class="table">
                <div class="row"
                     style="border-bottom:groove">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">Product</div>
                    <div class="col-sm-3">Category</div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row"
                     ng-repeat="product in products"
                     style="margin:5px"
                     ng-init="min = 0; max = product.images.length; imageIndex = 0">
                    <div class="col-sm-1">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary"
                                ng-click="imageIndex = previousImage(min, imageIndex)"
                                style="margin-top:50%">
                            <i class="fa fa-arrow-alt-circle-left"></i>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <img src="data:{{product.images[imageIndex].type}};base64,{{product.images[imageIndex].base64}}"
                             style='display:block; width:100px;height:100px;' />
                    </div>
                    <div class="col-sm-1">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary"
                                ng-click="imageIndex = nextImage(max, imageIndex)"
                                style="margin-top:50%">
                            <i class="fa fa-arrow-alt-circle-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-4">{{product.name}}</div>
                    <div class="col-sm-3">{{product.category.name}}</div>
                    <div class="col-sm-1">
                        <button type="button"
                                class="btn btn-sm btn-outline-info"
                                title="edit"
                                ng-click="productDetailsPage(product.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </div>
                </div>

                <div class="row">

                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script src="~/controllers/productController.js"></script>
}